In [1]:
import pandas as pd

In [89]:
# Creating the sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 22],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}

df = pd.DataFrame(data)

# Display the DataFrame
print("Sample DataFrame:")
print(df)

Sample DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   22      Phoenix

## Accessing Data

In [90]:
print(df[df['Name'] == 'Bob']['City'])

print(df.loc[df['Name'] == 'Bob', 'City'])

1    Los Angeles
Name: City, dtype: object
1    Los Angeles
Name: City, dtype: object

In [91]:
print(df.at[3, 'City'])
print(df.iat[3, 2])

Houston
Houston

In [92]:
print(df[(df['Age'] < 30) & (df['City'] == 'New York')])

    Name  Age      City
0  Alice   25  New York

## Adding New Row

In [93]:
new_row = pd.DataFrame({'Name':['Eric'], 'Age':[34], 'City':['Pittsburgh']})

df = pd.concat([df, new_row], axis=0, ignore_index=True)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   22      Phoenix
5     Eric   34   Pittsburgh

In [94]:
another_row = {'Name':'Richard', 'Age':31, 'City':'Cleveland'}
df.loc[df.shape[0]] = another_row
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   22      Phoenix
5     Eric   34   Pittsburgh
6  Richard   31    Cleveland

## Adding New Column

In [95]:
df['Bet'] = [df.shape[0] - i for i in range(df.shape[0])]

print(df)

      Name  Age         City  Bet
0    Alice   25     New York    7
1      Bob   30  Los Angeles    6
2  Charlie   35      Chicago    5
3    David   40      Houston    4
4      Eva   22      Phoenix    3
5     Eric   34   Pittsburgh    2
6  Richard   31    Cleveland    1

## Remove (Drop) Columns and Rows

In [96]:
df = df.drop(columns=['Bet'])
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   22      Phoenix
5     Eric   34   Pittsburgh
6  Richard   31    Cleveland

In [97]:
df.drop(index=5)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   22      Phoenix
6  Richard   31    Cleveland

In [98]:
indices_to_drop = df[df['Age'] > 30].index
df = df.drop(indices_to_drop)
print(df)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
4    Eva   22      Phoenix

In [99]:
df = df.reset_index(drop=True)
print(df)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
2    Eva   22      Phoenix

## Modify Data

In [100]:
df.loc[df['Name'] == 'Eva', 'City'] = 'Saint Paul'
print(df)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
2    Eva   22   Saint Paul

## Practice
Write a function add_person that takes a DataFrame, a person's name, age, and city, and returns a new DataFrame with the person's details added as a new row. Ensure that your function uses pd.concat() for adding the new row. Also, after adding the new row, sort the DataFrame by the 'Age' column in ascending order and reset the index.

In [101]:
def add_person(df, name, age, city):

    new_row = pd.DataFrame({'Name':[name], 'Age':[age], 'City':[city]})
    df = pd.concat([df, new_row], ignore_index=True, axis=0)
    df = df.sort_values(by=['Age'], ascending=True).reset_index(drop=True)
    return df

print(add_person(df, 'Pena', 34, 'Pittsburgh'))

    Name  Age         City
0    Eva   22   Saint Paul
1  Alice   25     New York
2    Bob   30  Los Angeles
3   Pena   34   Pittsburgh

In [102]:
print(add_person(df, 'Carlos', 20, 'Pittsburgh'))

     Name  Age         City
0  Carlos   20   Pittsburgh
1     Eva   22   Saint Paul
2   Alice   25     New York
3     Bob   30  Los Angeles